.cursorContainer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

.cursor {
    opacity: 0;
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;

    transition:
        opacity 0.25s ease,
        width 0.12s ease,
        height 0.12s ease,
        border-radius 0.12s ease,
        transform 0.12s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    z-index: 9999;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.hovering {
    background-color: #262629;
    border-radius: 999px;
    width: 96px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoveringLabel {
    font-size: 14px;
    line-height: 1;
    color: #d9d9d6;
    pointer-events: none;
    user-select: none;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial;
    font-weight: 500;
    letter-spacing: 0.2px;
    transform-origin: center;
    opacity: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



@media (pointer: coarse), (hover: none) {
    .cursor,
    .cursorContainer {
        display: none !important;
    }
}
